<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

<div th:fragment="header-css">

	<title>Spring Boot Blog</title>

	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
		rel="stylesheet" media="screen" />
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
		rel="stylesheet" media="screen" />
	<script
		src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/main.css}"
		href="../../../css/main.css" />
</div>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="richtext.min.css">
	<script src="/path/to/cdn/jquery.min.js"></script>
	<script src="/path/to/jquery.richtext.min.js"></script>
</head>

<body>
	<div th:fragment="header">
		<!-- this is header -->
		<div style="position: fixed;left: 0;width: 100%;top:0;border-bottom:1px solid #f5f5f5">
			<nav class="navbar navbar-inverse ">
				<div class="container">
					<div class="navbar-header">
						<a id="nav" class="navbar-brand" th:href="@{/home}">Blog Web</a>
					</div>
					<div id="navbar" class="collapse navbar-collapse navbar-right" >
						<ul id="nav1" class="nav navbar-nav" sec:authorize="!isAuthenticated()">
							<li class="active"><a th:href="@{/registration}">Registration</a></li>
							<li class="active"><a th:href="@{/login}">Login</a></li>
						</ul>
						<ul id="nav2" class="nav navbar-nav" sec:authorize="hasRole('USER')">
							<li class="active"><a th:href="@{'/blog/' + ${#authentication.getName()}}">My Blog</a></li>
							<li class="active"><a th:href="@{/newPost}">New Post</a></li>
							<li class="active"><a th:href="@{/logout}">Sign Out</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

</body>
</html>