<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">

    <!--Post-->
    <div class="jumbotron">

        <h1 th:text="${post.title}">Title</h1>
        <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')}">Created by
        </div>
        <div><a th:text="'By ' + ${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a></div>
        <p th:text="'LIKES : '"><p th:text="${countLike}" id="likeNum"></p></p>
        <div th:utext="${post.body}"></div>
        <h4 th:text="'Descripton:'"></h4>
        <div th:utext="${post.description}"></div>
        <h4 th:text="'Category:'"></h4>
        <div th:utext="${post.category.getCategoryName()}"></div>
        <!--Only show these buttons if the user is the owner of post-->
        <div sec:authorize="isAuthenticated()" th:if="${username}">
            <div class="row">
                <a th:href="@{'/editPost/{id}'(id=${post.id})}" class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block" th:text="Edit">Edit</button>
                </a>

            </div>
        </div>
    </div>

    <!--Leave a comment button-->
    <!--Only if authenticated-->
    <div sec:authorize="isAuthenticated()">
        <div class="row">
            <a class="col-md-2">
            <button id="LikeButton" type="button" class="btn btn-primary btn-block" th:text="Like" onclick="updateLike()">LIKE</button>
            </a>
            <a th:href="@{'/commentPost/{id}'(id=${post.id})}" class="col-md-2">
                <button type="button" class="btn btn-primary btn-block" th:text="Comment">Comment</button>
            </a>


        </div>
    </div>
    <h2>Comments:</h2>
    <!--Comments-->
    <div class="well" th:each="comment : ${post.comments}">
        <h3 th:text="${comment.body}">Body</h3>
        <div th:text="'Created: ' + ${#dates.format(comment.createDate, 'dd-MMM-yyyy')}  + ${countLike}">
            Created
        </div>
        <div><a th:text="' by ' + ${comment.user.username}" th:href="@{'/blog/' + ${comment.user.username}}">By User</a>
        </div>
    </div>
</div>
<!-- /.container -->

<div th:replace="/fragments/footer :: footer"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    function updateLike() {
        console.log(  [[${post.id}]] );
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/Like/"+[[${post.id}]],
            data: {
            },
            dataType: 'json',
            timeout: 100000,
            success: function (data) {
                console.log("SUCCESS: ", data);
                document.getElementById('likeNum').innerHTML  = data;
            },
            error: function (e) {
                console.log("ERROR: ", e);
            }
        });
    }
</script>
</body>
</html>